body{
    background-image:linear-gradient(115deg,rgba(70, 112, 110, 0.429),rgba(103, 159, 156, 0.425)), url(chef.jpg);
    margin: 0;
    border:0;
    box-sizing:border-box;
}


#survey-form{
    width:60vw;
    height:100%; 
    background-color: rgba(125, 173, 171, 0.642); 
    margin: auto auto 20px auto;
    border-radius: 5px;
    padding: 0px 40px 20px 40px;
    /* Made the texts at the center */
    text-align: center; 
}

#title,#description{
    text-align: center;
}
#title{
    font-family:'Lucida Sans';
    font-size: 32px;
}
#description,p{
    font-size: 18px;
    margin-top: -15px;
    padding: 10px;
}
p{
    font-family: 'Lucida Sans';
}
#disabled{
    color:#7c7c7c
}

label{
    display: block;
    margin-top:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 2em;
}
input{
    width:80%;
    display: block;
    border-width: 0px;
    border-radius: 5px;
    min-height: 2em;
    margin-top: 3px;
    /* Added margin and padding to center the inputs :) */
    margin: 0 25px;
padding: 4px;
}

#name-label{
    margin-top: 10px;
}
.inline{
    width: unset;
    margin-right:3px;
    vertical-align: middle;
    display:inline-block;
    margin-top:-5px
}
fieldset{
    border:none;
    margin-top: -5px;
    
}
.tick{
    min-height:1px;
    margin-top: 1px;
}
header{
    margin-top: -10px;
}
.choz{
    
    text-decoration: underline;
}
.impro{
    text-decoration: underline;
    margin-top: 3px;
}

select{
    width:88%;
    border-width: 0px;
    border-radius: 3px;
    min-height:2em;
    margin: 0 21px;
}
textarea{
    width: 207px;
height: 51px;
padding: 15px;
}
.form-survey{
    margin-top: 10px;
    margin-left: -10px;
}

button{
    background-color: rgb(27, 187, 30);
    border-radius: 5px;
    color:#fff;
    /* cursor pointer makes your mouse give a shape of pointing :) */
    cursor: pointer;
    border: none;
margin-top: 20px;
padding: 13px;
width: 61%;
}

/* Added a psuedo (You'd learn that or if you have, this is me using it.) It's just a hover background color for when we move our mouse over the button */
button:hover{
    background-color: rgb(16, 151, 19);
}



/* This is how to make responsive sites with media queries. So  im using a desktop screen size of min-width: 760px (The one above is used as scrren sizes for mobile devices) */

@media screen and (min-width:760px) {
    input{
  margin: 0 138px;
  padding: 6px;
  width: 65%;
    }

label{
    line-height: 3em;
}

    select{
          padding: 12px;
          width: 65%;
    }

    textarea{
        width: 481px;
        height: 111px;
    }

    button{
      width: 48%;
    }

}